@import "../../scss/variables.scss";
@import "../../scss//mixins.scss";
.consulting-section {
  counter-reset: section;
  position: relative;
  background: no-repeat url("/consulting-gradient.svg");
  background-position: -140px 2%;
  @include mediaLg {
    background-position: 0 50%;
  }
  @include pagePaddings;
  &__heading {
    color: $blue;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin: 0;
    @include mediaMd {
      font-size: 4.8rem;
      line-height: 4.2rem;
    }
  }
  &__subheading {
    color: $blue;
    font-size: 1.8rem;
    line-height: 2;
    font-weight: normal;
    margin: 0;
  }
  &__text {
    color: $green;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
    @include mediaMd {
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: $blue;
    }
  }
  &__blur-background {
    display: none;
    @include mediaLg {
      display: block;
      position: absolute;
      width: 448px;
      height: 998px;
      right: 0;
      top: -53px;
      background: no-repeat url("/consulting-gradient-r.svg");
      background-position: 100% 0;
    }
  }
}
