@import "../../scss/variables.scss";
.button {
  display: inline-block;
  background-color: $blue;
  color: $white;
  fill: $white;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 700;
  width: auto;
  min-width: 19.6rem;
  padding: 1.8rem 2.5rem;
  border-radius: $border-radius;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 8px 11px 37px 6px rgba(0, 0, 0, 0.22);
  border: 0;
  font-family: var(--fontFamily-secondary);
  font-size: 16px;
  font-weight: 700;
  &__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__arrow {
    margin-left: 1rem;
  }
  &-green {
    background-color: $green;
    fill: $blue;
    color: $blue;
    margin-bottom: 6rem;
  }
  &--sm {
    font-size: 12px;
    padding: 1.2rem 2.2rem;
    min-width: 12.1rem;
    flex-shrink: 0;
    z-index: 1;
    @include mediaLg {
      font-size: 15px;
      padding: 1.3rem 2.5rem;
    }
  }
  transition: all 0.4s ease-in-out;
}
.button:hover {
  background-color: $green;
  color: $blue;
  fill: $blue;
  transition: all 0.4s ease-in-out;
}
