@import "../../scss/mixins.scss";
.stars-wrapper {
    display: flex;
    margin-bottom: 1.5rem;
 @include mediaMd {
        margin-bottom: 4.5rem;
    }
}
.star-wrapper {
    height: 3rem;
    width: 3rem;
}