@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";
.tabs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.tab-nav-list {
  width: 50%;
  position: relative;
  &::after {
    background: linear-gradient(
      161.01deg,
      rgba(94, 135, 120, 0.6) 11.28%,
      rgba(120, 255, 134, 0.6) 63.29%
    );
    filter: blur(200px);
    transform: rotate(90.98deg);
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
  }
}
.tab-nav-list-item {
  border-radius: $border-radius;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 2rem;
  height: 8rem;
  z-index: 2;
  position: relative;
  @include mediaMd {
    height: 10rem;
  }
  background-color: transparent;
}
.tab-heading-wrapper {
  @include mediaMd {
    padding: 0 2rem;
  }
  width: 80%;
}
.tab-heading {
  font-size: 1.2rem;
  @include mediaMd {
    font-size: 1.8rem;
  }
  font-weight: bold;
  color: $blue;
  margin: 0;
}
.tab-position {
  font-size: 1.2rem;
  @include mediaMd {
    font-size: 1.4rem;
    line-height: 2;
  }
  font-weight: 500;
  color: gray;
  margin: 0;
}
.tab-content {
  display: none;
  width: 50%;
  padding-left: 3rem;
  transition-property: all;
  transition-duration: 2s;
  z-index: 1;
  @include mediaLg {
    padding-left: 5rem;
  }
  &__heading {
    font-size: 1.2rem;
    @include mediaMd {
      font-size: 1.8rem;
    }
    margin: 0;
    color: $blue;
    margin-bottom: 1.4rem;
  }
  &__text {
    font-size: 1.2rem;
    min-height: 700px;
    font-weight: 500;
    color: $blue;
    @include mediaMd {
      font-size: 1.4rem;
      line-height: 1.8;
    }
  }
}
.tab-img-rounded {
  display: none;
  @include mediaMd {
    display: inline-block;
  }
  position: relative;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 50%;
}
.active-1 {
  font-weight: bold;
  background-color: $white;
  border: transparent;
  z-index: 1;
  position: relative;
}
.active-content {
  display: block;
}
