@import "../../scss/variables.scss";
.testimonials-page-section {
  padding: 4.5rem 0 9rem;
  @include mediaLg {
    padding: 9rem 0 1rem;
  }
  &__heading {
    margin-bottom: 4.5rem;
    @include mediaLg {
      margin-bottom: 8.5rem;
    }
  }
}
