@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";
.whyWorkWithMe-section {
text-align: center;
   counter-reset: section;
   &__heading {
       font-size: 3.2rem;
       font-weight: 900;
       line-height: 1.4;
       color: $green;
       margin-bottom: 5rem;
   }
   &__heading-wrapper {
       @include mediaLg {
        padding: 0 30rem;
       }
       
   }
}