@import "../../scss/global";
@import "../button/button";
@import "../logo/logo";
@import "../header/header";
@import "../menu/menu";
@import "../menu/hamburgerMenu";
@import "../frontPageHeroSection/frontPageHeroSection";
@import "../frontPageAboutSection/frontPageAboutSection";
@import "../frontPageAboutFounderSection/frontPageAboutFounderSection";
@import "../frontPageWhyWorkWithMeSection/frontPageWhyWorkWithMe";
@import "../frontPageWhyWorkWithMeSection/item";
@import "../frontPageWhatDoIDoSection/frontPageWhatDoIDoSection";
@import "../testimonialSlider/testimonialsSliderSection";
@import "../footer/footer";
@import "../footerMenu/footerMenu";
@import "../aboutPageSection/about-page-section";
@import "../contactForm/contactForm";
@import "../pageContactFormSection/pageContactFormSection";
@import "../servicesPageConsultingSection/servicesPageConsultingSection";
@import "../card/card";
@import "../testimonialsPageSection/testimonialsPageSection";
@import "../testimonialsPageSection/tabs";
@import "../testimonialsPageSection/stars";
@import "../contactPageSection/contactFormPageSection";
@import "../servicesPageAnimatedOnlineLearningSection/table/table";
@import "../postPageSection/postPageSection";
@import "../servicesPageAnimatedOnlineLearningSection/_animatedOnlineLearning";