@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.about-founder-section {
  padding: 7rem 0;
  @include mediaLg {
    padding: 13rem 0 8rem;
  }

  &__image-wrapper {
    width: 100%;
    text-align: center;
    @include mediaXl {
      text-align: left;
    }
  }
  &__paragraph {
    font-size: 1.4rem;
    line-height: 2;
    color: $blue;
    font-weight: 500;
    margin-bottom: 0;
  }
  &__text-wrapper {
    text-align: center;

    @media (min-width: 880px) {
      text-align: left;
    }
  }
  &__heading {
    font-size: 2.6rem;
    line-height: 4.2rem;
    font-weight: 700;
    color: $blue;
    max-width: 400x;
    margin: 0 auto 20px;

    @include mediaLg {
      font-size: 3.2rem;
      max-width: 485px;
    }

    @media (min-width: 880px) {
      margin: 0 0 15px;
    }
  }
  &__heading-green {
    color: $green;
  }
}
.img-rounded {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 286px;
  height: 286px;
  background: $green center center url("/gradient-about-img.png");
  @include mediaLg {
    width: 350px;
    height: 350px;
  }
}
