@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";
.contact-form {
  display: inline-block;
  padding: 2rem 0 0;
  width: 100%;
  textarea {
    margin-bottom: 0 !important;
  }
  &__label {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3rem;
    height: 3rem;
    color: $blue;
    display: inline-block;
    width: 100%;
    @include mediaLg {
      width: 50%;
    }
  }
  &__input {
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    margin: 0 1rem;
    width: 185px;
    &:focus-visible {
      outline: none;
    }
  }
}
.textarea {
  overflow: hidden;
  line-height: 1.5;
}
::-webkit-input-placeholder {
  /* Edge */
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 500;
  color: #1e024266;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 500;
  color: #1e024266;
}

::placeholder {
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 500;
  color: #1e024266;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 500;
  color: #1e024266;
}

::placeholder {
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 500;
  color: #1e024266;
}
