@import "../../scss/variables.scss";
.main-footer {
    text-align: center;
    background-color: $blue;
    color:$white;
    padding: 6.5rem 2rem;

    &__copyright {
        font-family: var(--fontFamily-secondary);
        color:  $pink;
        font-size: 1.4rem;
    }
}