@import "../scss/mixins.scss";
@import "../scss/variables.scss";
@import "../scss/normalize.scss";
@import "../scss/style.scss";

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  @include mediaLg {
    justify-content: space-between;
  }
}

.column-40 {
  width: 100%;
  @media (min-width: 880px) {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}
.column-60 {
  width: 100%;
  @media (min-width: 880px) {
    width: 60%;
    padding-left: 7rem;
  }
}

.column-50 {
  padding: 1rem;
  width: 100%;
  @media (min-width: 880px) {
    width: 50%;
  }
}
.column-33 {
  width: 100%;
  @include mediaMd {
    width: 30%;
    margin-right: 1%;
  }
}
.column-33:last-child {
  @include mediaLg {
    margin-right: 0;
  }
}
.relative {
  position: relative;
}

.column-36 {
  width: 100%;
  @media (min-width: 880px) {
    display: flex;
    flex-direction: column;
    width: 36%;
  }
}
.column-64 {
  width: 100%;
  @media (min-width: 880px) {
    width: 64%;
    padding-left: 7rem;
  }
}

.column-30 {
  width: 100%;
  @media (min-width: 880px) {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
.column-70 {
  width: 100%;
  @media (min-width: 880px) {
    width: 70%;
    padding-left: 1rem;
  }
}

.page-heading {
  font-size: 3.6rem;
  font-weight: 700;
  color: $blue;
  margin-top: 0;
  @include mediaLg {
    font-size: 4.8rem;
  }
}

.coming-soon,
.page-404 {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
