@mixin easeOut {
  transition: all 0.5s ease-out;
}
@mixin mediaXl {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin mediaMd {
  @media only screen and (min-width: 600px) {
    @content;
  }
}
@mixin mediaSm {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin pagePaddings {
  padding: 4.5rem 0 9rem;
  @include mediaLg {
    padding: 9rem 0 14rem;
  }
}
